body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  #search-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
  }

  #search-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }

.hero {
    background-image: url('../ah1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.features {
    padding: 80px 0;
}

.features h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
    text-align: center;
}

.pricing {
    padding: 80px 0;
    background-color: #f5f5f5;
}

.pricing h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
    text-align: center;
}

.faq {
    padding: 80px 0;
}

.faq h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
    text-align: center;
}

.faq h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.faq p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

footer {
    padding: 40px 0;
    background-color: #333;
    color: white;
    text-align: center;
}

footer p {
    margin-bottom: 2rem;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline-block;
    margin-right: 1rem;
}

@media (max-width: 767.98px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.2rem;
    }

    .features h2 {
        font-size: 2.5rem;
    }
}